@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --logo-color: #03989E;
    --card-radius: 25px;
}

html {
    font-family: 'Montserrat', sans-serif;
}
a{ text-decoration: none; }
h1{ font-size: 1.8rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.1rem; }


/* -------- NAV --------- */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #444;
    color: #fff;
    padding: 8px 0;
}

.left-nav{
    margin: 0 60px;
    font-size: 2rem;
}
.left-nav>a>img{
    width: 60px;
    border-radius: 50px;
}
.mid-nav a{
    margin: 0 20px;
    font-size: 1.2rem;
    color: #fff;
    padding: 25px 15px;
}
.right-nav{
    margin-left: auto;
}
.right-nav>a{
    margin: 0 30px;
    font-size: 0.8rem;
    color: #fff;
    padding: 25px 15px;
}
.mid-nav a:hover{
    background: #555;
}

/* -------- BODY --------- */
.global-container{
    width: 90%;
    margin: 50px auto;
}


/* -------- MAP --------- */
.global-container>h1{
    margin-left: 7%;
    width: 50%;
    float: left;
}
.global-container>h3{
    text-align: right;
}
.map-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#map{
    width: 1100px;
    height: 650px;

}

.leaflet-popup-tip-container{
}
.leaflet-popup-content-wrapper{

}
.leaflet-popup-content{
    text-align:center;
    margin: 0!important;
    padding: 10px;
}
.leaflet-popup-content>h3{
    font-weight: bold;
    margin-bottom: 3px;
}
.leaflet-popup-content>p{
    margin: 0!important;
    font-size: 1.1rem;
}
.leaflet-popup-content>.available{
    color: green;
}
.leaflet-popup-content>.unavailable{
    color: red;
    font-weight: 1.3rem;
}
#louer{
    border-bottom: 1px solid black;
    cursor: pointer;
}

/* -------- PROFIL --------- */
.profile-container{
    float: left;
    width: 20%;
    margin: 57px 50px;
    padding: 50px;
    border-radius: var(--card-radius);
    border: 3px solid var(--logo-color);
}
.profile-image{
    background: var(--logo-color);
    padding: 15px;
    border-radius: 25px;
}
.profile-image>i{
    color: #fff;
}
.profile-informations{
    margin: auto;
}
.profile-informations>*{
    border-bottom: 1px solid #adadad;
    padding: 35px 0 5px;
}
.location-container{
    overflow: hidden;
}
.location-container>h1{
    text-align: center;
    margin: 15px;
}
#liste-locations{
    overflow:auto;
    background: #dedede;
    height: 450px;
    border-radius: var(--card-radius);
}
#liste-locations>.content{
    min-height: 351px;
    padding: 50px;
}
#liste-locations>.content>h2{
    font-weight: bold;
    margin-bottom: 10px;
}
#liste-locations>.content>h2:not(:first-child) {
    margin-top: 20px;
}
#liste-locations>.content>p{
    padding: 10px;
}
#liste-locations>.content>p>span{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 5px;
}